<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/adal.js"></script>
    <script src="~/Scripts/webcomponents.min.js"></script>
    <link rel="import" href="~/Element/LoginElement/login.html" />

    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

</body>
</html>
