
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_ViewLayout.cshtml";
}

<h2>Index</h2>

<login-azuread domain="example.onmicrosoft.com" clientid="b15b25b3-01c6-489e-adb3-578bfb87c4cc">
</login-azuread>

